<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My CV</title>
    <link rel="stylesheet" href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <nav>
            <img src ="img/p.jpg" alt="profile Shivam" class="img" />
        
        <div class="userDetails">
            <h1>Shivam</h1>
            <h1>Upadhyay</h1>
            <span>Software Engineer</span>

        </div>

        <div class="Home">
            <ion-icon name ="school"></ion-icon>
        </div>
        <div class="project">
            <ion-icon name ="folder"></ion-icon>
        </div>
        <div class="contact">
            <ion-icon name="mail"></ion-icon>
        </div>
        </nav>
    
     <div class="edu">
    
    <h1><span><ion-icon name ="school"></ion-icon></span>Education</h1>
    </div>
    </div>
     
   <script src = "https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>
</html>